<h1> Anne Lin </h1>
<img src='/assets/meLEL.jpg' style="width:100%;height:auto;">
<h3> Castro Valley </h3>
<h3> Senior </h3>
<p> My mom knows about my nose piercing that I've been hiding for a year </p>
<p style="color:red"><u> Excited about learning a new framework</u></p>